/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  --green-colour: #4cbb17;
  --hover-green-colour: #00ff4c;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Outfit", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

\#root,
\#__next {
  isolation: isolate;
}
/* --------- */

header {
  background-color: var(--green-colour);
  padding: 1rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  width: 100%;
}

main > section {
  min-width: 600px;
}

.item-content {
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.item-info {
  flex: 1;
}

.item-card {
  background-color: white;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  transition: background-color 0.2s;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
  padding: 0 1rem;
}

.item-card:hover {
  background-color: #f5f5f5;
}

.item-card.checked {
  background-color: #e0e0e0;
  text-decoration: line-through;
}

.view-item {
  padding: 0.5rem;
  text-decoration: none;
}

.button-add {
  cursor: pointer;
  text-decoration: none;
  background-color: var(--green-colour);
  padding: 0.3rem;
  border-radius: 0.6rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

nav {
  background-color: rgb(245, 245, 245);
  box-shadow: inset 0 0 5px 2px rgb(210, 210, 210);
}

nav > ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  align-items: center;
  overflow-x: auto; /* Enable horizontal scrolling */
  list-style-type: none;
  padding: 1.2rem;
  scrollbar-width: none;
}

nav > ul::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 4px;
}

.category-nav-link {
  white-space: nowrap;
  min-width: fit-content;
  text-decoration: none;
  color: #000;
  padding: 0.5rem 1.2rem;
  border-radius: 999px;
  transition: all 0.2s ease;
  background-color: var(--green-colour);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.category-nav-link:hover {
  background-color: var(--hover-green-colour);
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.category-nav-link:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-nav-link.active {
  background-color: var(--hover-green-colour);
  border: 1px solid black;
  font-weight: bold;
}

.list-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 1rem;
}

footer {
  padding: 1rem;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  position: static;
  bottom: 0;
  width: 100%;
  height: 4rem;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
}

.item-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-delete {
  background-color: red;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button-delete:hover {
  background-color: rgb(204, 0, 0);
}

.button-update {
  background-color: rgb(0, 153, 255);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}

.button-update:hover {
  background-color: rgb(0, 114, 190);
}

@media (max-width: 600px) {
  main > section {
    min-width: 100%;
  }
  header {
    text-align: left;
  }
}
